@import '_mixin';
@import '_bootstrap';

body{
    &.menu-shown{
        overflow: hidden;
        &:before{
            display: block;
            content: "";
            background: rgba(#000,.8);
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 11;
        }
    }

    &.popup-shown{
        overflow: hidden;
        &:before{
            display: block;
            content: "";
            background: rgba(#000,.7);
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 11;
        }
    }
}

a{
    cursor: pointer;
}

.primary-nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background: #000;
    color: #fff;
    height: 60px;
    display: flex;
    align-items: center;
    a{
        color: #ddd;
        &.current{
            color: #fff;
        }
    }
    .top-bar{
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        .nav-links{
            position: fixed;
            top: 60px;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 12;
            font-size: 2rem;
            padding:1em;
            display: flex;
            justify-content: center;
            align-items:center;
            ul{
                margin: 0;
                padding: 0;
                list-style: none;
                text-align: center;
                >li{
                    margin-bottom: 1em;
                }

            }
        }
        #primary-nav-menu{
            @include hamburger;
            vertical-align: middle;
        }

        @include media-breakpoint-up(sm){ 
            .nav-links{
                display: block;
                position: relative;
                flex-grow: 1;
                font-size: 1rem;
                line-height: 1;
                padding:0;
                top: auto;
                ul{
                    display: flex;
                    >li{
                        margin-bottom: 0;
                    }
                }
                a{
                    padding:.5em;
                    cursor: pointer;
                }
            }
            #primary-nav-menu{
                display: none;
            }
        }
    }
    .site-name{
        white-space: nowrap;
        margin-right: 1em;
        >span{
            display: inline-block;
            padding:.5em 1em;
            line-height: 1;
            background: #fff;
            color: #000;
            border-radius: 1em;
            vertical-align: middle;
        }
    }
    .greeting{
        display: inline-block;
        vertical-align: middle;
        margin-right: 2em;
    }

}

main{
    min-height: 100vh;
    padding-top: 80px;
}

h1{
    font-size: 1.5rem;
    margin-bottom: 1em;;
}

.message-box{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 12;
    
    justify-content: center;
    align-items: center;
    display: none;
    .message-body{
        background: #fff;
        border:1px solid #000;
        border-radius: 10px;
        padding:20px;
        position: relative;
        .close-popup{
            position: absolute;
            top: -10px;
            right: -10px;
            display: inline-block;
            border:1px solid #000;
            background: #fff;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    &.shown{
        display: flex;
    }
}

.form-size{
    width: 100%;
    max-width: 400px;
}